doctype html
html(lang="ukr")
    include components/page-blocks/head
    body
        header.main-header
            nav(class="navbar navbar-default")
                div.container
                    div.navbar-header
                        a(class="navbar-brand" href="#")
                            span K
                            | haia Anastasiia
                        div.d-flex.align-items-center.justify-content-between
                            ul.lang
                                li.lang-item
                                    a(class="lang-link active" href="./ua.html") UA
                                li.lang-item
                                    a(class="lang-link" href="./index.html") EN
                            div
                                button(class="menu-toggle" aria-label="Toggle Actions" type="button" id="menubutton1" aria-haspopup="true" aria-expanded="false" aria-controls="mainMenu")
                                    span.bar
                                    span.bar
                                    span.bar
                                div(class="navbar-links" id="menu")
                                    ul(class="nav navbar-nav navbar-right" id="mainMenu" role="menu" tabindex="-1" aria-labelledby="menubutton1" aria-activedescendant="mi1")
                                        li.navbar-brand.nav-brand.text-center
                                            a(href="#home" class="menu-item")
                                                span K
                                                | haia Anastasiia
                                        li(role="menuitem" data-menuanchor="home")
                                            a(class="active link menu-item" href="#home")
                                                <svg aria-hidden="true" focusable="false" class="svg-home svg-current" width="14" viewBox="0 0 576 512"><path d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z"/></svg>
                                                | Home
                                        li(role="menuitem" data-menuanchor="about")
                                            a(class="link menu-item" href="#about")
                                                <svg aria-hidden="true" focusable="false" class="svg-user svg-current" width="11" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                                                | About
                                        li(role="menuitem" data-menuanchor="services")
                                            a(class="link menu-item" href="#services")
                                                <svg aria-hidden="true" focusable="false" class="svg-progress svg-current" width="14" viewBox="0 0 512 512"><path d="M448 160H320V128H448v32zM48 64C21.5 64 0 85.5 0 112v64c0 26.5 21.5 48 48 48H464c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48H48zM448 352v32H192V352H448zM48 288c-26.5 0-48 21.5-48 48v64c0 26.5 21.5 48 48 48H464c26.5 0 48-21.5 48-48V336c0-26.5-21.5-48-48-48H48z"/></svg>
                                                | Services
                                        li(role="menuitem" data-menuanchor="resume")
                                            a(class="link menu-item" href="#resume")
                                                <svg aria-hidden="true" focusable="false" class="svg-progress svg-current" width="16" viewBox="0 0 640 512"><path d="M320 32c-8.1 0-16.1 1.4-23.7 4.1L15.8 137.4C6.3 140.9 0 149.9 0 160s6.3 19.1 15.8 22.6l57.9 20.9C57.3 229.3 48 259.8 48 291.9v28.1c0 28.4-10.8 57.7-22.3 80.8c-6.5 13-13.9 25.8-22.5 37.6C0 442.7-.9 448.3 .9 453.4s6 8.9 11.2 10.2l64 16c4.2 1.1 8.7 .3 12.4-2s6.3-6.1 7.1-10.4c8.6-42.8 4.3-81.2-2.1-108.7C90.3 344.3 86 329.8 80 316.5V291.9c0-30.2 10.2-58.7 27.9-81.5c12.9-15.5 29.6-28 49.2-35.7l157-61.7c8.2-3.2 17.5 .8 20.7 9s-.8 17.5-9 20.7l-157 61.7c-12.4 4.9-23.3 12.4-32.2 21.6l159.6 57.6c7.6 2.7 15.6 4.1 23.7 4.1s16.1-1.4 23.7-4.1L624.2 182.6c9.5-3.4 15.8-12.5 15.8-22.6s-6.3-19.1-15.8-22.6L343.7 36.1C336.1 33.4 328.1 32 320 32zM128 408c0 35.3 86 72 192 72s192-36.7 192-72L496.7 262.6 354.5 314c-11.1 4-22.8 6-34.5 6s-23.5-2-34.5-6L143.3 262.6 128 408z"/></svg>
                                                | Resume
                                        li(role="menuitem" data-menuanchor="contact")
                                            a(class="link menu-item" href="#contact")
                                                <svg aria-hidden="true" focusable="false" class="svg-pin svg-current" width="10" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                                                | Contact Me
                                        li(role="menuitem")
                                            #installContainer.hidden
                                                button(id="butInstall" class="link menu-item" type="button")
                                                    <svg aria-hidden="true" focusable="false" class="svg-pin svg-current" width="12" viewBox="0 0 512 512"><path d="M288 32c0-17.7-14.3-32-32-32s-32 14.3-32 32V274.7l-73.4-73.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l128 128c12.5 12.5 32.8 12.5 45.3 0l128-128c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L288 274.7V32zM64 352c-35.3 0-64 28.7-64 64v32c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V416c0-35.3-28.7-64-64-64H346.5l-45.3 45.3c-25 25-65.5 25-90.5 0L165.5 352H64zm368 56a24 24 0 1 1 0 48 24 24 0 1 1 0-48z"/></svg>
                                                    |   Install

        main
            include components/page-blocks/block-follow
            .wrapper
                section(id="home" class="section" aria-labelledby="home-title")
                    .overlay
                        .container
                            h1#home-title Anastasiia Khaia
                            .typing-container
                                span#sentence.sentence I am A
                                span#typing-txt.input-cursor
                            .d-flex.flex-wrap.justify-content-center
                                a(class="btn btn-primary mr-15 ml-15 mb-15" href="#contact")   Найняти мене
                                button(class="btn btn-outline-primary mr-15 ml-15 mb-15" type="button")   Завантажити CV
                section(class="section" id="about" aria-labelledby="about-title")
                    .container
                        .d-flex.flex-wrap.justify-content-between
                            .w-100.w-md-42
                                .about-image
                                    picture
                                        <source srcset="images/about.avif" type="image/avif" />
                                        <source srcset="images/about.webp" type="image/webp" />
                                        <img src="images/about.jpg" alt="Photo Anastasia Khaya" loading="lazy" decoding="async" />
                            .w-100.w-md-56
                                .about-info
                                    .main-title
                                        h1.title-pulse#about-title  Про мене
                                        .sub-title  Я Анастасія Хая
                                        .sub-sub-title Я Junior C++ Developer
                                        p Володію такими мовами програмування як: C/C++, C#, Python, Pascal, відносно недавно почала вивчати Java. Маю досвід розробки в таких середовищах як Microsoft Visual Studio 2019/2022, Visual Studio Code, PyCharm, IntelliJ IDEA, WebStorm.

                                        p Займалась дизайном коду, розробкою, тестуванням. Я також маю досвід розробки додатків з графічним інтерфейсом на C# і написала кілька ігор на мові програмування C#.
                                    .personal-info
                                        .d-flex.flex-wrap
                                            .w-100.w-md-50
                                                dl
                                                    dt  Ім'я:
                                                    dd  Анастасія Хая
                                            .w-100.w-md-50
                                                dl
                                                    dt  Вік:
                                                    dd   19
                                            .w-100.w-md-50
                                                dl
                                                    dt  Телефон
                                                    dd  +380 98 391 09 69
                                            .w-100.w-md-50
                                                dl
                                                    dt  Адреса
                                                    dd  Вроцлав, Польша
                                            .w-100.w-md-50
                                                dl
                                                    dt  Сайт
                                                    dd  example.com
                                            .w-100.w-md-50
                                                dl
                                                    dt  Пошта
                                                    dd  khaia.nastia@gmail.com
                                    button(class="btn btn-outline-primary" type="button")    Завантажити CV
                section(class="section" id="services" aria-labelledby="services-title")
                    .container
                        h1.title-pulse#services-title  Мої послуги
                        .d-flex.flex-wrap.justify-content-between
                            article(class="service w-100 w-md-32" aria-labelledby="block-service1")
                                .service-icon
                                    <svg aria-hidden="true" focusable="false" class="svg-pencil svg-current" width="14" viewBox="0 0 512 512"><path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/></svg>
                                h2.title-block#block-service1  Creative Design
                                p   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.
                            article(class="service w-100 w-md-32" aria-labelledby="block-service2")
                                .service-icon
                                    <svg aria-hidden="true" focusable="false" class="svg-flag svg-current" width="14" viewBox="0 0 448 512"><path d="M64 32C64 14.3 49.7 0 32 0S0 14.3 0 32V64 368 480c0 17.7 14.3 32 32 32s32-14.3 32-32V352l64.3-16.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L64 48V32z"/></svg>
                                h2.title-block#block-service2  Branding
                                p   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.
                            article(class="service w-100 w-md-32" aria-labelledby="block-service3")
                                .service-icon
                                    <svg aria-hidden="true" focusable="false" class="svg-laptop svg-current" width="14" viewBox="0 0 640 512"><path d="M128 32C92.7 32 64 60.7 64 96V352h64V96H512V352h64V96c0-35.3-28.7-64-64-64H128zM19.2 384C8.6 384 0 392.6 0 403.2C0 445.6 34.4 480 76.8 480H563.2c42.4 0 76.8-34.4 76.8-76.8c0-10.6-8.6-19.2-19.2-19.2H19.2z"/></svg>
                                h2.title-block#block-service3  User Interface
                                p   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.
                            article(class="service w-100 w-md-32" aria-labelledby="block-service4")
                                .service-icon
                                    <svg aria-hidden="true" focusable="false" class="svg-briefcase svg-current" width="14" viewBox="0 0 512 512"><path d="M184 48H328c4.4 0 8 3.6 8 8V96H176V56c0-4.4 3.6-8 8-8zm-56 8V96H64C28.7 96 0 124.7 0 160v96H192 320 512V160c0-35.3-28.7-64-64-64H384V56c0-30.9-25.1-56-56-56H184c-30.9 0-56 25.1-56 56zM512 288H320v32c0 17.7-14.3 32-32 32H224c-17.7 0-32-14.3-32-32V288H0V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V288z"/></svg>
                                h2.title-block#block-service4  User Experience
                                p   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.
                            article(class="service w-100 w-md-32" aria-labelledby="block-service5")
                                .service-icon
                                    <svg aria-hidden="true" focusable="false" class="svg-code svg-current" width="14" viewBox="0 0 640 512"><path d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"/></svg>
                                h2.title-block#block-service5  Clean Code
                                p   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.
                            article(class="service w-100 w-md-32" aria-labelledby="block-service6")
                                .service-icon
                                    <svg aria-hidden="true" focusable="false" class="svg-support svg-current" width="14" viewBox="0 0 512 512"><path d="M367.2 412.5C335.9 434.9 297.5 448 256 448s-79.9-13.1-111.2-35.5l58-58c15.8 8.6 34 13.5 53.3 13.5s37.4-4.9 53.3-13.5l58 58zm90.7 .8c33.8-43.4 54-98 54-157.3s-20.2-113.9-54-157.3c9-12.5 7.9-30.1-3.4-41.3S425.8 45 413.3 54C369.9 20.2 315.3 0 256 0S142.1 20.2 98.7 54c-12.5-9-30.1-7.9-41.3 3.4S45 86.2 54 98.7C20.2 142.1 0 196.7 0 256s20.2 113.9 54 157.3c-9 12.5-7.9 30.1 3.4 41.3S86.2 467 98.7 458c43.4 33.8 98 54 157.3 54s113.9-20.2 157.3-54c12.5 9 30.1 7.9 41.3-3.4s12.4-28.8 3.4-41.3zm-45.5-46.1l-58-58c8.6-15.8 13.5-34 13.5-53.3s-4.9-37.4-13.5-53.3l58-58C434.9 176.1 448 214.5 448 256s-13.1 79.9-35.5 111.2zM367.2 99.5l-58 58c-15.8-8.6-34-13.5-53.3-13.5s-37.4 4.9-53.3 13.5l-58-58C176.1 77.1 214.5 64 256 64s79.9 13.1 111.2 35.5zM157.5 309.3l-58 58C77.1 335.9 64 297.5 64 256s13.1-79.9 35.5-111.2l58 58c-8.6 15.8-13.5 34-13.5 53.3s4.9 37.4 13.5 53.3zM208 256a48 48 0 1 1 96 0 48 48 0 1 1 -96 0z"/></svg>
                                h2.title-block#block-service6  Fast Support
                                p   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusm.
                section(class="section" id="resume" aria-labelledby="resume-title")
                    .container
                        h1.title-pulse#resume-title  Моє резюме
                        .timeline
                            ul.list-unstyled
                                li
                                    .timeline-content
                                        h2.timeline-title  Full Stack Developer
                                        time.timeline-date
                                            span.icon 2017 - 2019 | Freelance
                                        p.timeline-text   Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit incididunt ut labore et.
                                li
                                    .timeline-content
                                        h2.timeline-title  Web Designer
                                        time.timeline-date
                                            span.icon   2015 - 2017 | Freelance
                                        p.timeline-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tempor incididunt ut labore et dolore magna aliqua Lorem ipsum dolor sit amet, consectetur adipisicing elit incididunt ut labore et.
                                li
                                    .timeline-content
                                        h2.timeline-title   Розробник
                                        time.timeline-date
                                            span.icon   02.2023 - 09.2023 | Freelance
                                        p.timeline-text  Я почала працювати в UvoCorp з лютого 2023 року і працювала там до вересня 2023 року. Мала досить високі показники успішності.

                                li
                                    .timeline-content
                                        h2.timeline-title   Ступінь бакалавра
                                        time.timeline-date
                                            span.icon   2021 - 2025 | Харківський національний університет радіоелектроніки
                                        p.timeline-text  З 2021 по 2025 навчаюсь в Харківському національному університеті радіоелектроніки на факультеті Комп’ютерної інженерії та менеджменту за спеціальністю Кібербезпека.

                                li
                                    .timeline-content
                                        h2.timeline-title   Молодший Спеціаліст
                                        time.timeline-date
                                            span.icon   2019 - 2021 | Відокремлений структурний підрозділ "Харківський комп'ютерно-технологічний фаховий коледж НТУ "ХПІ"
                                        p.timeline-text  З 2019 по 2021 навчалась у Відокремленому структурному підрозділі Харківського комп’ютерно-технологічного коледжу НТУ «ХПІ» за спеціальністю «Інженерія програмного забезпечення».
                section(class="section" id="contact" aria-labelledby="contact-title")
                    .container
                        h1.title-pulse#contact-title  Зв'яжіться зі мною
                        .d-flex.flex-wrap.justify-content-between
                            .w-100.w-md-32
                                .contact-boxes
                                    article(class="contact-box" aria-labelledby="contact-box1")
                                        .icon-box
                                            <svg aria-hidden="true" focusable="false" class="svg-home svg-current" width="52" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 128a64 64 0 1 1 0 128 64 64 0 1 1 0-128z"/></svg>
                                        h2.title-box#contact-box1    Місцезнаходження
                                        .content-box
                                            p   Вроцлав, Польша
                                    article(class="contact-box" aria-labelledby="contact-box2")
                                        .icon-box
                                            <svg aria-hidden="true" focusable="false" class="svg-home svg-current" width="52" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>
                                        h2.title-box#contact-box2    Пошта
                                        .content-box
                                            p   khaia.nastia@gmail.com
                                    article(class="contact-box" aria-labelledby="contact-box3")
                                        .icon-box
                                            <svg aria-hidden="true" focusable="false" class="svg-home svg-current" width="52" viewBox="0 0 512 512"><path d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg>
                                        h2.title-box#contact-box3    Телефон
                                        .content-box
                                            p   +380 98 391 0969
                                            p   +48 694 246 723
                                    article(class="contact-box" aria-labelledby="contact-box4")
                                        .icon-box
                                            <svg aria-hidden="true" focusable="false" class="svg-home svg-current" width="52" viewBox="0 0 512 512"><path d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z"/></svg>
                                        h2.title-box#contact-box4    Сайт
                                        .content-box
                                            p   www.yourdomain.com
                            .w-100.w-md-66
                                form(class="contact-form" action="" method="post" aria-labelledby="contact-title")
                                    .form-group
                                        label(class="sr-only" for="name")   Name
                                        input(type="text" class="form-control" id="name" name="name" placeholder="Ім'я" required)
                                        span.input-border
                                    .form-group
                                        label(class="sr-only" for="email")   Email
                                        input(type="email" class="form-control" id="email" name="email" placeholder="Пошта" required)
                                        span.input-border
                                    .form-group
                                        label(class="sr-only" for="subject")   Subject
                                        input(type="text" class="form-control" id="subject" name="subject" placeholder="Тема" required)
                                        span.input-border
                                    .form-group
                                        label(class="sr-only" for="message")   Your Message
                                        textarea(class="form-control" id="message" name="message" placeholder="Ваше повідомлення" required)
                                        span.input-border
                                    button(class="btn btn-outline-primary" type="submit" name="send" onclick="sendEmail()")  Надіслати повідомлення
                                    #form-message.text-center
        include components/page-blocks/scripts
